    {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.definition) }}
        {{ form_row(form.imageFile) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">{{ 'word.form'|trans }}</button>
    {{ form_end(form) }}

