{% extends 'base.html.twig' %}
{# word/index.html.twig #}

{% block title %}Word{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    <div>
        <h2>Bienvenue dans ton lexique</h2>
        {% for word in words %}
                  <ul>
                      <li>
                          {{ word.name }}: {{ word.definition }}, {{ word.createdAt|date("D, d M Y h:i:s O") }}
                      </li>
                  </ul>
        {% endfor %}
            <a href="{{ path('word_form') }}" class="btn btn-secondary">Add a new word</a>
    </div>
{% endblock %}
