{% extends 'base.html.twig' %}

{% block title %}Word index{% endblock %}

{% block body %}
    {# #Contenu #}
    <h1>Your list of Words</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th>Mot</th>
            <th>Définition</th>
            <th>Date</th>
            <th>Illustration</th>
        </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td> <a href="{{ path('word_show', {'id': word.id}) }}">  {{ word.name }}</a></td>
                <td>{{ word.definition }}</td>
                <td>{{ word.createdAt|date("D, d M Y h:i:s O") }}</td>
                <td>{% if word.filename %}
                        <img src="/images/words/{{ word.filename }}" alt="card-img-top" style="width: 20%; height:auto;">
                    {% endif %}</td>
                <td>
                    <a href="{{ path('word_edit', {'id': word.id}) }}">edit</a>
                </td>
                <td>
                    {{ include('word/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('word_new') }}">Add a new word</a>
{% endblock %}
