{% extends 'base.html.twig' %}

{% block title %}Word{% endblock %}

{% block body %}
<div class="flex-fill bg-light my-5">
<div class="container">
    <div class="card" style="width: 40rem;">
            {% if word.filename %}
                <img src="{{ vich_uploader_asset(word, 'imageFile') }}" alt="card-img-top" style="width: 100%; height:auto;">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ word.name }}</h5>
            <p class="card-text">{% apply markdown_to_html %}{{ word.definition }}{% endapply %}</p>
        </div>

        <div class="card-body">
            <a href="{{ path('word_edit', {'id': word.id}) }}">Modifier</a>
            <a href="{{ path('lexicon_show_content', {'id': word.lexicon.id}) }}">Retour au lexique</a>
        </div>
    </div>
</div>

</div>

{% endblock %}
