{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex-fill bg-light py-5">
        <div class="container">
            <i class="fas fa-book-open fa-4x d-block text-center mb-4 dark"></i>
            <h2 class="title-page">Créer un compte</h2>
            <div class="form-app border dark p-5">
                 {{ form_start(registrationForm) }}
                 {{ form_row(registrationForm.username, {row_attr: {class: 'mb-3'}}) }}
                 {{ form_row(registrationForm.email) }}
                 {{ form_row(registrationForm.plainPassword, {
                     label: 'Password'
                 }) }}
                 {{ form_row(registrationForm.agreeTerms) }}

                 <button type="submit" class="btn btn-primary">Register</button>
                 {{ form_end(registrationForm) }}
             </div>
        </div>
    </div>
{% endblock %}
