{% extends 'base.html.twig' %}
{# lexicon/index.html.twig #}

{% block title %}Lexicon{% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         <div class="flex-fill bg-light py-5">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('lexicon_index') }}">Lexiques</a></li>
                    </ol>
                </nav>
                <h2 class="title-page">{{ 'lexicon.index.title'|trans }}</h2>
                <ul class="list-lexiques">
                {% for lexicon in lexicons %}
                    <li class="elem mb-3">
                        <div class="card">
                            <div class="card-header border-bottom-0 d-flex justify-content-between align-items-center ">
                                <a class="card-title lexicon-title " href="{{ path('lexicon_show_content', {'id': lexicon.id}) }}">{{ lexicon.title }}</a>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" class="border-0 py-1 px-3" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h gray-500"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="{{ path('word_new') }}">{{ 'lexicon.index.add'|trans }}</a></li>
                                        <li><a class="dropdown-item" href="{{ path('lexicon_edit', {'title': lexicon.title}) }}">{{ 'lexicon.index.edit'|trans }}</a></li>
                                        <form method="post" action="{{ path('lexicon_delete', {'title': lexicon.title}) }}" onsubmit="return confirm('{{ 'lexicon.index.delete'|trans }}');" class="lexicon_delete">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lexicon.title) }}">
                                            <button>{{ 'lexicon.index.deletebutton'|trans }}</button>
                                        </form>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-group">
                            {% for words in lexicon.words %}
                                <li class="list-group-item m-1 border fs-5">{{ words.name }}</li>
                            {% endfor %}
                            </ul>
                        </div></li>
                {% endfor %}
                </ul>
                <a href="{{ path('lexicon_new') }}" class="btn btn-primary">{{ 'lexicon.index.new'|trans }}</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
