{% extends 'base.html.twig' %}
{# lexicon/index.html.twig #}

{% block title %}Lexicon{% endblock %}

{% block stylesheets %}
    {# Ajouter votre style si nécessaire #}
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         <div class="flex-fill bg-light py-5">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('lexicon_index') }}">Lexiques</a></li>
                    </ol>
                </nav>
                <h2 class="title-page">{{ 'lexicon.index.title'|trans }}</h2>
                <ul class="list-lexiques">
                {% for lexicon in lexicons %}
                    <li class="elem mb-3">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center ">
                                <a class="card-title lexicon-title " href="{{ path('lexicon_show_content', {'id': lexicon.id}) }}">{{ lexicon.title }}</a>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" class="border-0 py-1 px-3" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h gray-500"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="width:205px">
                                        <li class="d-flex align-items-center p-2">
                                            <img src="{{ asset('/assets/images/icons/plus.svg') }}" style="width:20px" />
                                            <a class="dropdown-item fs-3" href="{{ path('word_new', {'lexicon_id': lexicon.id}) }}">
                                                {{ 'lexicon.index.add'|trans }}
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="d-flex align-items-center p-2">
                                            <img src="{{ asset('/assets/images/icons/edit.svg') }}" style="width:20px" />
                                            <a class="dropdown-item fs-3 " href="{{ path('lexicon_edit', {'title': lexicon.title}) }}">
                                                {{ 'lexicon.index.edit'|trans }}
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <form method="post" action="{{ path('lexicon_delete', {'title': lexicon.title}) }}" onsubmit="return confirm('Are you sure you want to delete this Lexicon?');" class="p-2">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lexicon.title) }}">
                                            <button class="border-0 bg-white fs-3 text-start">
                                                <img src="{{ asset('/assets/images/icons/trash.svg') }}" style="width:20px" class="me-2" />
                                                 {{ 'lexicon.index.deletebutton'|trans }}
                                            </button>
                                        </form>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list-group">
                            {% for words in lexicon.words %}
                                <li class="list-group-item m-2 border fs-3">{{ words.name }}</li>
                            {% endfor %}
                            </ul>
                        </div></li>
                {% endfor %}
                </ul>
                <a href="{{ path('lexicon_new') }}" class="btn btn-primary">{{ 'lexicon.index.new'|trans }}</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
