{% extends 'base.html.twig' %}

{% block title %}Word index{% endblock %}

{% block body %}
    <div class="flex-fill bg-light py-5">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('lexicon_index') }}">Lexiques</a></li>
                    <li class="breadcrumb-item active"><a href="{{ path('lexicon_show_content', {'id': lexicon.id}) }}">{{ lexicon.title }}</a></li>
                </ol>
            </nav>
            <h2 class="title-page">{{ lexicon.title }}</h2>
            <div class="">
                <ul class="words">
                {% for word in words %}
                   <li class="word d-flex">
                        <div>
                            <img src="{{ vich_uploader_asset(word, 'imageFile') }}" alt="card-img-top" style="width: 50px; height:auto;">
                        </div>
                        <div>
                            <a href="{{ path('word_show', {'id': word.id}) }}">  {{ word.name }}</a>
                            <p> {{ word.definition }} </p>
                            <p> {{ word.createdAt|date('Y-m-d H:i:sP') }} </p>
                        </div>
                   </li>
                {% endfor %}
                </ul>
                <a href="{{ path('word_new', {'lexicon_id': lexicon.id}) }}" class="btn btn-primary">Ajouter un nouveau mot</a>
            </div>
        </div>
    </div>
{% endblock %}

