{% extends 'base.html.twig' %}

{% block title %}{{ 'lexicon.show.title'|trans }}{% endblock %}

{% block body %}
        <div class="book">
          <div id="pages" class="pages">
            <div class="page d-flex flex-column justify-content-center align-items-center">
                 <p class="title-book m-0"> {{ lexicon.title }} </p>
                 <a href="{{ path('word_new', {'lexicon_id': lexicon.id}) }}" class="btn btn-primary">{{ 'lexicon.show.add'|trans }}</a>
            </div>
            <div class="page p-5">
                <div class="words">
                {% for word in words|slice(0, 2) %}
                   <div class="word mb-5">
                        <div class="">
                            <a href="{{ path('word_show', {'id': word.id}) }}" class="mb-2 d-flex align-items-center">
                                {% if word.filename %}
                                    <img src="{{ vich_uploader_asset(word, 'imageFile') }}" alt="card-img-top" style="width: 30px;">
                                {% endif %}
                                <strong class="ms-3">{{ word.name }}</strong>
                            </a>
                            <p> {{ word.definition }} </p>
                            <p> {{ word.createdAt|date('d-m-Y') }} </p>
                        </div>
                   </div>
                {% endfor %}
                </div>
            </div>
            <div class="page p-5">
                <div class="words">
                {% for word in words|slice(2, 2) %}
                   <div class="word mb-5">
                        <div class="">
                            <a href="{{ path('word_show', {'id': word.id}) }}" class="mb-2 d-flex align-items-center">
                                {% if word.filename %}
                                    <img src="{{ vich_uploader_asset(word, 'imageFile') }}" alt="card-img-top" style="width: 30px;">
                                {% endif %}
                                <strong class="ms-3">{{ word.name }}</strong>
                            </a>
                            <p> {{ word.definition }} </p>
                            <p> {{ word.createdAt|date('d-m-Y') }} </p>
                        </div>
                   </div>
                {% endfor %}
            </div>
            </div>
            <div class="page p-5">
                <div class="words">
                {% for word in words|slice(4, 2) %}
                   <div class="word mb-5">
                        <div class="">
                            <a href="{{ path('word_show', {'id': word.id}) }}" class="mb-2 d-flex align-items-center">
                                {% if word.filename %}
                                    <img src="{{ vich_uploader_asset(word, 'imageFile') }}" alt="card-img-top" style="width: 30px;">
                                {% endif %}
                                <strong class="ms-3">{{ word.name }}</strong>
                            </a>
                            <p> {{ word.definition }} </p>
                            <p> {{ word.createdAt|date('d-m-Y') }} </p>
                        </div>
                   </div>
                {% endfor %}
                </div>
            </div>
            <div class="page p-5"></div>
            <div class="page p-5"></div>
          </div>
        </div>
    <div class="flex-fill bg-light py-5 lexicon-mobile">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('lexicon_index') }}">Lexiques</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('lexicon_show_content', {'id': lexicon.id}) }}">{{ lexicon.title }}</a></li>
                </ol>
            </nav>

            <h2 class="title-page">{{ lexicon.title }}</h2>
            <div class="words">
                {% for word in words %}
                   <div class="word mb-5">
                        <div class="">
                            <a href="{{ path('word_show', {'id': word.id}) }}" class="mb-2 d-flex align-items-center">
                                {% if word.filename %}
                                    <img src="{{ vich_uploader_asset(word, 'imageFile') }}" alt="card-img-top" style="width: 30px;">
                                {% endif %}
                                <strong class="ms-3">{{ word.name }}</strong>
                            </a>
                            <p> {{ word.definition }} </p>
                            <p> {{ word.createdAt|date('d-m-Y') }} </p>
                        </div>
                   </div>
                {% endfor %}
                </ul>
            </div>
            <a href="{{ path('word_new', {'lexicon_id': lexicon.id}) }}" class="btn btn-primary">{{ 'lexicon.show.add'|trans }}</a>
        </div>
    </div>
    {% block javascripts %}
    <script>
        var pages = document.getElementsByClassName('page');
        for (var i = 0; i < pages.length; i++) {
          let page = pages[i];
          if (i % 2 === 0) {
            page.style.zIndex = pages.length - i;
          }
        }
        document.addEventListener("DOMContentLoaded", function () {
        for (var i = 0; i < pages.length; i++) {
        //page = pages[i];
        pages[i].pageNum = i + 1
        pages[i].onclick = function () {
          if (this.pageNum % 2 === 0) {
            this.classList.remove("flipped");
            this.previousElementSibling.classList.remove("flipped");
          } else {
            this.classList.add("flipped");
            this.nextElementSibling.classList.add("flipped");
          }
        };
      }
    });
   </script>
{% endblock %}
{% endblock %}

