{% extends 'base.html.twig' %}

{% block title %}{{ 'search.title'|trans }}{% endblock %}

{% block body %}
    {# #Contenu #}
    <h1>{{ 'search.results'|trans }} :</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'search.words'|trans }} :</th>
        </tr>
        </thead>
        <tbody>
        {% for returned_word in rows %}
                <tr>
                    <td> <a href="{{ path('word_show', {'id': returned_word.id}) }}"> {{ returned_word.name }}</td>
                </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'search.none'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lexicon_index') }}">{{ 'search.return'|trans }}</a>
{% endblock %}
