<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand logo" href="{{ path('home_index') }}">
                <i class="fas fa-book-open fa-1x light me-1"></i>
                <p>Lexique</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <form class="search" action="{{ path('app_search') }}" method="get">
                        <input class="form-control" type="search" placeholder="Recherche" aria-label="Search" name="terms">
                    </form>
                    <li class="nav-item" >
                        <a class="nav-link active " aria-current="page" href="{{ path('lexicon_index') }}">{{ 'navbar.lexicons'|trans }}</a>
                    </li>
                {% endif %}
                    <li class="nav-item" >
                        <a class="nav-link active " aria-current="page" href="{{ path('about_index') }}">{{ 'navbar.about'|trans }}</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link active" aria-current="page" href="{{ path('contact_index') }}">Contact</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item profil">
                        <a class="nav-link active d-flex align-items-center" aria-current="page" href="#">
                            <span class="img-profil me-2"><i class="fas fa-user fa-xs"></i></span>
                            <p class="m-0"> {{ app.user.username }} </p>
                        </a>
                    </li>
                    <li class="nav-item logout">
                        <a class="nav-link active d-flex align-items-center" aria-current="page" href="/logout">
                        {{ 'navbar.disconnect'|trans }}
                        </a>
                    </li>
                    <li class="nav-item country">
                        <a class="nav-link light px-2 d-flex align-items-center" href="{{ path('home_index', {_locale: 'en'}) }}"> <img src="{{ asset('/assets/images/pays/en.png') }}" /> </a>
                        <a class="nav-link light d-flex align-items-center" href="{{ path('home_index', {_locale: 'fr'}) }}"><img src="{{ asset('/assets/images/pays/fr.png') }}"/></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-0 d-flex align-items-center" href="{{ path('user_index') }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="img-profil">
                                <i class="fas fa-user fa-xs"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu p-0" aria-labelledby="navbarDropdown">
                            <li class="ps-3 py-2">{{ 'navbar.user.as'|trans }}<br><a class="dropdown-item0"><strong>{{ app.user.username }}</strong></a></li>
                            <li><hr class="dropdown-divider m-0 p-0"></li>
                            <li><a class="dropdown-item" href="{{ path('register') }}"><i class="fas fa-user fa-xs fa-1x me-2"></i>{{ 'navbar.user.profile'|trans }}</a></li>
                            <li><hr class="dropdown-divider m-0 p-0"></li>
                            <li><a class="dropdown-item" href="{{ path('lexicon_index') }}"><i class="fas fa-book-open me-2"></i>{{ 'navbar.user.lexicons'|trans }}</a></li>
                            <li><hr class="dropdown-divider m-0 p-0"></li>
                            <li><a class='dropdown-item' href="/logout"><i class="fas fa-sign-out-alt me-2"></i>{{ 'navbar.disconnect'|trans }}</a></li>
                        </ul>
                    </li>
                        {% else %}
                        <li class="nav-item register">
                            <a class="nav-link active" aria-current="page" href="{{ path('register') }}">{{ 'navbar.register'|trans }}</a>
                        </li>
                        <li class="nav-item login">
                            <a class="nav-link active" aria-current="page" href="{{ path('login') }}">{{ 'navbar.connect'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>


